<h1> All Jobs </h1>
<ul class="list-group">
<% @jobs.each do |job| %>
<li class="list-group-item">Title: <%= job.title %><br/>
Description: <%= job.description %><br/>
Company: <%= link_to "#{job.employer.company_name}", employer_path(job.employer) %><br/><br/>
</li>
<% end %>
</ul>
