body {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}
.container-fluid {
  background-color: #538CAA;
}

.navbar-inverse .navbar-brand {
  color: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: #BEB9B5;
}

.summary {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

// a {
//     text-decoration: none;
//     font-size: 22px;
//     color: black;
// }

button:hover, a:hover {
    opacity: 0.7;
}

#map {
  padding: 100px;
  margin: auto
}

.new-job {
  background-color: #BEB9B5;
  border: none;
  color: white;
  padding: 15px 32px;
  max-width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.user-index{
    display: inline-flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    width: 250px;
    margin: 30px;
    background-color: #BEB9B5;
    border: 1px solid black;
}

.card-img-top {
  padding-top: 35px;
}
