<!DOCTYPE html>
<html>
  <head>
    <title>Breaking Down Barriers</title>
    <!-- <%= csrf_meta_tags %> -->

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Breaking Down Barriers</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Jobs</a></li>
          <li><a href="#">Employers</a></li>
          <li><a href="#">Potential Employees</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user || current_employer != nil %>
            <li><a href= "/signout"> <span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
          <% else %>
            <li><a href="/auth/google_oauth2"><span class="glyphicon glyphicon-user"></span> Employee Login</a></li>
            <li><a href="/login"> <span class="glyphicon glyphicon-user"></span> Employer Login</a></li>
          <%end %>
        </ul>
      </div>
    </nav>
        <%= yield %>
  </body>
</html>
